body{
  margin: 0;
  font-size: 20px;
}

header .banner{
  margin: 0 10% 0 10%;
  width: 80%;
  height: 180px;
  background-color: #4EA0FF;
  background-image: url("../img/pattern.png");
  background-repeat:repeat;
  background-size:auto;
  background-position:130px 0;
}

main, footer{
  margin: 0 20% 0 20%;
}

.bannerimg{
  width: 350px;
  margin-top: 75px;
  margin-left: 15px;
}

.titolone{
  font-size: 51px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.autore{
  margin-top: 0;
  font-size: 28px;
  line-height: 0.7;
  color: #7E7E7E;
}

span.nome-sito{ 
  color: #24ABE6;
}

.data{
  font-size: 16px;
}

.tim img{
  width: 49%;
  height: 700px;
  object-fit: cover;
}

.tim .indice{
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
}
.evidenziato{
  background-color: rgb(255, 255, 0);
}

table{
  border-collapse: collapse;
}

thead{
  background-color: #20A9E5;
  border-collapse:unset;
}

#ultimo{
  width: 700px;
}

.testatabella th{
  width: 300px;
  border-spacing: 0;
  padding:0;
  border: 0px;
  text-align: left;
  
}

.azzurro{
  background-color: #B1E5F2;
}

.interessi{
  color: #7E7E7E;
}

.immpie{
  width: 200px;
  height: 200px;
  margin: 15px 0px 15px 0;
  padding: 5px 15px 5px 5px;
  color: white;

}

.primo{
  background-image: url(../img/monitor.jpg);
}

.secondo{
  background-image: url(../img/graph.jpg);
}